<html>
    <head>
            <title></title>
            <link rel="stylesheet" media="screen" href="/static/css/projectUI.css" type="text/css"/>
            <link rel="stylesheet" href="/static/Fonts/stylesheet.css" type="text/css" charset="utf-8"/>
                
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/3.11.174/pdf.min.js"></script>
            <script defer src="/static/js/API.js"></script>
            <script defer src="/static/js/projectUI.js"></script>
    </head>
    <body>
        <div id="Output"> 
        


        </div>
        <div id="Input">
            <div id="Container">
                <div id="Prompt">
                   <textarea id="TextFeild" class="resizable-textarea"
                    placeholder="Type here..."> {{key}}</textarea>
                </div>
            </div>
            <div>
                <button id="FileUploadButton" type="submit"> 
                    <span class="material-symbols-outlined"> upload </span>
                </button>
                <button id="FileButton" class="active" type="submit">
                    <span class="material-symbols-outlined"> folder </span>
                </button>
            </div>
        </div>
        <div id="Drop" class="opened">
            <form id="Form" action="/upload" method="post" enctype="multipart/form-data">
                <label for="file-upload">Please Drag and Drop <br> or Select a file</label>
                <input type="file" class="fileUpload" style="display:none;" name="file_uploads[]" multiple>
            </form>
            <button id="AddFileButton" type="submit" onclick="chooseFiles()">
                 <span class="material-symbols-outlined"> attach_file_add </span>
            </Button>
            <div id="DropErrors">
                
            </div>
            <div id="Files">

            </div>
        </div>
        <div id="Help"> 
            <button id="HelpButton" type="submit">
                 <span class="material-symbols-outlined"> help </span>
            </Button>
        </div>
        <div id="SideBar" class="closed">
            
        </div>

        <div id="FullScreenViewer" class="closed">
            <div id="FullScreenViewer2">
                <div id="FullScreenViewerTitle">

                </div>
                <div id="FullScreenViewerPDF">

                </div>
            </div>
            <div id="FullScreenViewerFlags" class="red">
                <div id="redFlags" class="large">
                    <div id="redFlagsTitle" class="active">
                        <h3 style="margin:0px;"> Red Flags </h3>
                    </div>
                    <div id="redFlagsBody" class="active">
                        <div class="active">

                        </div>
                        <div class="neighbor">

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>
                </div>
                <div id="whiteFlags" class="small">
                    <div id="whiteFlagsTitle" class="inactive">
                        <h3 style="margin:0px;"> White Flags </h3>
                    </div>
                    <div id="whiteFlagsBody" class="inactive">
                        <div class="active">

                        </div>
                        <div class="neighbor">

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                        <div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Preview" > 
            <button id="PreviewButton" class="inactive" type="submit" style="z-index:10;">
                 <span class="material-symbols-outlined"> Menu </span>
            </Button>
        </div>
    </body>
    
</html>

